/*
/******************************************************************
Site Name:
Author:

Stylesheet: Knockout Application Stylesheet

******************************************************************/

#work {
	.tags {
		display: flex;
		flex-flow: row wrap;
		align-content: stretch;
		
		.tag {
			margin-right: 10px;
		}
	}

	.projects {
		display: flex;
		flex-flow: column wrap;
		align-content: stretch;
		height: 375px;

		.project {
			padding-right: 10px;
			.projectTags{
				
				.projectTag{
					display: inline-block;
				}
			}

			img {
				width: 100px;
			}
		}
	}
}
